@import '../abstract/variables';

#curiosidades {
    padding: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    .img-container {
        justify-content: center;
        align-items: center;
    }
    .curiosidade-texto{
        h3 {
            font-size: $tamanho-do-texto;
            color: $cor-primaria;
        }
        h4 {
            font-size: $tamanho-do-texto / 2;
            color: $cor-secundaria;
        }
        p {
            font-size: $tamanho-do-texto / 3;
            font-weight: 300;
            color: $cor-primaria;
            line-height: 1.25rem;
        }
    }
}